@font-face {
  font-family: "segoe-ui-bold";
  src: url("../../fonts/segoe-ui-bold.ttf");
}

@font-face {
  font-family: "segoe-ui-semi-bold";
  src: url("../../fonts/segoe-ui-semi-bold.ttf");
}
@font-face {
  font-family: "segoe-ui-regular";
  src: url("../../fonts/segoe-ui-regular.ttf");
}
// @font-face {
//   font-family: "Roboto-Light";
//   src: url("../../fonts/Roboto-Light.ttf");
// }
// @font-face {
//   font-family: "Roboto-Thin";
//   src: url("../../fonts/Roboto-Thin.ttf");
// }

@font-face {
  font-family: "instagram";
  src: url("../../fonts/instagram.otf");
}

$font_black: "Roboto-Bold", "sans-serif";
$font_bold: "segoe-ui-bold", "sans-serif";
$font_semibold: "segoe-ui-semi-bold", "sans-serif";
$font_regular: "segoe-ui-regular", "sans-serif";

$font_instagram: "instagram", "sans-serif";

$color-primary: #405de6;
$color-secondary: #e1306c;
$color-neutral-1: #fafafa;
$color-neutral-2: #262626;
$color-neutral-3: #000000;

$linear__color: linear-gradient(
  210deg,
  rgb(255, 0, 234),
  rgb(237, 0, 8) 40%,
  rgb(255, 204, 0)
);

$padding__section_LR: 25px;
$padding__section_TB: 40px;
