@import "../../assets/styles/main.style/variable.scss";

.story-card {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  flex: none;
  height: 100px;
  width: 70px;
  overflow: hidden;
  align-items: center;
  cursor: pointer;

  & .content-cover-story {
    border-radius: 50%;
    flex: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $linear__color;
    padding: 2px;
    height: 65px;
    width: 65px;
    & .user-picture-story {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: stretch;
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid $color-neutral-3;
      background: $color-neutral-3;
      & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }
  & .story-user-name {
    font-family: $font_regular;
    color: $color-neutral-1;
    overflow-y: hidden;
    padding-left: 5px;
    display: block;
    position: relative;
    letter-spacing: 0.01em;
    text-align: center;
    overflow-x: hidden;
    box-sizing: border-box;
    padding-right: 2px;
    max-width: 74px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.8rem;
    text-transform: lowercase;
    transform: scale(0.9);
    flex: none;
  }
}
