@import "../../assets/styles/main.style/variable.scss";

.content-input-box {
  display: flex;
  border-bottom: 1px solid rgba($color-neutral-1, 0.08);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  & input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-family: $font_regular;
    color: $color-neutral-1;
    font-size: 0.8rem;
  }
  & .content-btn-action {
    flex: none;
    display: flex;
    column-gap: 5px;
    & .btn-post-comment {
      border: none;
      outline: none;
      background: transparent;
      font-family: $font_semibold;
      color: #0282c3;
    }
    & .btn-show-emoji-box {
      border: none;
      outline: none;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
